<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyLogin</servlet-name>
        <servlet-class>FacultyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>populate</servlet-name>
        <servlet-class>populate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRecord</servlet-name>
        <servlet-class>ShowRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyLogin</servlet-name>
        <url-pattern>/FacultyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>populate</servlet-name>
        <url-pattern>/populate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRecord</servlet-name>
        <url-pattern>/ShowRecord</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
